DJANGO_SECRET_KEY=replace-me
DJANGO_ALLOWED_HOSTS=porra26.pythonanywhere.com
MYSQL_NAME=user$porra26
MYSQL_USER=user
MYSQL_PASSWORD=replace-me
MYSQL_HOST=user.mysql.pythonanywhere-services.com
EMAIL_DOMAIN=edisa.com
TEAMS_API_TOKEN=
PORRA_BASE_URL=https://porra26.pythonanywhere.com
